html {
  height: 100%;
  width: 100%;
  font-size: 12px;
}
html::-webkit-scrollbar-track-piece {
  background: #eee;
}
html::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
html::-webkit-scrollbar-thumb {
  height: 40px;
  background-color: #ccc;
  border-radius: 4px;
}
html::-webkit-scrollbar-thumb:hover {
  background-color: #bbb;
}
html body {
  height: 100%;
  width: 100%;
  background-color: #ccc;
  font: 1.4rem/1.5 Microsoft Jhenghei, Consolas, Helvetica, Arial, sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
}
#container {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  background-color: #ccc;
  background-image: url('../img/site_bg.jpg');
  background-size: cover;
  background-position-x: center;
}
#galaxy {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
canvas {
  width: 100%;
  height: 100%;
}
#logo img {
  border-radius: 50%;
}
#logo:hover {
  animation: shake 0.07s steps(6);
  animation-iteration-count: 4;
}
@keyframes shake {
  0% {
    margin-right: 0;
  }
  25% {
    margin-right: 10px;
  }
  50% {
    margin-right: 0;
  }
  75% {
    margin-right: -10px;
  }
  100% {
    margin-right: 0;
  }
}
#box-wrapper {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-right: -140px;
}
#box {
  color: #333;
  margin-top: -60%;
  padding: 20px;
  width: 240px;
  text-align: center;
  border-radius: 6px;
  background-color: rgba(240, 240, 240, 0.95);
  box-shadow: 16px 16px 24px rgba(0, 0, 0, 0.2);
}
#nav {
  position: relative;
  width: 170px;
  height: 50px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  #nav:hover .cat {
    right: 120px;
  }
  #nav:hover .link {
    right: 0;
    top: 0;
  }
  #nav:hover .home i {
    display: none;
  }
  #nav:hover .home span {
    display: inline;
  }
  #nav:hover a:not(.home) {
    opacity: 1;
  }
}
@media screen and (max-width: 768px) {
  #nav .cat {
    right: 120px;
  }
  #nav .link {
    right: 0;
    top: 0;
  }
}
#nav a {
  display: block;
  height: 50px;
  line-height: 50px;
  width: 50px;
  border: 1px solid #666;
  border-radius: 50%;
  color: #666;
  position: absolute;
  top: 0;
  right: 60px;
  z-index: 1;
  text-align: center;
  transition: all .8s;
}
@media screen and (min-width: 768px) {
  #nav a:not(.home) {
    opacity: 0;
  }
}
#nav a.home {
  z-index: 2;
}
#nav a.home i {
  margin-top: 9px;
  margin-left: 1px;
}
#nav a.home span {
  display: none;
}
#galaxy {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
#galaxy canvas {
  width: 100%;
  height: 100%;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 20px 20px 0;
  color: #aaa;
}
#footer a.about {
  color: #aaa;
  width: 80px;
  display: inline-block;
}
#footer > a {
  margin-left: 10px;
  font-size: 1.8rem;
  display: inline-block;
  color: #647993;
  transition: transform 0.2s ease-in-out;
}
#footer > a:hover {
  color: #2d3e4a;
}
#footer > a.weixin-btn {
  position: relative;
}
#footer > a.weixin-btn:hover .weixin-qrcode {
  bottom: 80px;
  opacity: 1;
  visibility: visible;
}
@media screen and (min-width: 768px) {
  #footer > a:hover {
    transform: translateY(-2px);
  }
}
#footer .weixin-qrcode {
  position: absolute;
  display: block;
  visibility: hidden;
  width: 200px;
  bottom: 100px;
  left: 50%;
  margin-left: -70px;
  opacity: 0;
  z-index: 3;
  transition: all .6s;
}
#footer .weixin-qrcode img {
  display: block;
  border-radius: 10px;
}
#footer.active a.about {
  font-size: 16px;
}
